// COLORS
$primary-color: #acfa70;
$secondary-color: #292f56;
$font-family: "Montserrat", sans-serif;

$light-white: #e5e5e5;
$white-color: #ffffff;
$dark-grey: #575656;

$dark-blue-text: #272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
